<div class="jumbotron center">
	<h1 class="home-header">Tim Twitter</h1>
	<p>Sign up now below for free, <%= current_user.name %>!</p>
	<p>
		<a class="btn btn-lg btn-primary" href="<%= signup_path %>" role="button">Sign Up! &raquo;</a>
	</p>
</div>
